<b:if cond='data:blog.pageType == &quot;index&quot;'>
h1.post-name {display:none}
@media screen and (max-width:560px){h1.title{font-size:28px;margin:0 auto;font-weight:700}body.light-grey,.content,.main{margin:0;padding:0}}
</b:if>
<b:if cond='data:blog.pageType != &quot;index&quot;'>
  .post-body h3,h4{margin:0;padding:0;}
.table-content{border-collapse:collapse;width:100%}.table-content th,.table-content td{padding:10px;text-align:left}.table-content th{border-right:3px solid #ddd;text-align:left}.table-content tr:nth-child(even){background-color:#ffffff83}.table-content tr:hover{background-color:#ddd}.post-body{margin:0 8px 0 8px}.post-body img{max-width:100%;height:auto:float:left;padding-right:1.5%;padding-bottom:1%}#blog-pager,.blog-pager{display:none}@media screen and (max-width:1028px){h1.post-name{font-size:26px}}@media screen and (max-width:800px){}@media screen and (max-width:560px){.post-body,.main{margin:0 auto;padding:0}h1.post-name{font-size:18px;font-weight:700;color:red;}}
</b:if>
body,h1,h2,h3,h4,h5,h6 {font-family: Georgia !important, &quot;Times New Roman&quot;;}
</style>
<style type='text/css'>
.blog-posts {margin-top:4.7%;}
#menu {
 background-color: #6B4C2C;
height: 53px;
text-transform: uppercase;
clear:left;
width:100%;
margin:0;padding:0;position: fixed;z-index:8;
}
#menu ul {
  margin: 0;
  padding: 0;
}
#menu .main-menu {
  display: none;
}
#tm:checked + .main-menu {
  display: block;
}
#menu input[type=&quot;checkbox&quot;], 
#menu ul span.drop-icon {
  display: none;
}
#menu li, 
#toggle-menu, 
#menu .sub-menu {
  border-style: solid;
  border-color: rgba(0, 0, 0, .05);
}
#menu li, 
#toggle-menu {
  border-width: 0 0 1px;
}
#menu .sub-menu {
  background-color: #6B4C2C;
  border-width: 1px 1px 0;
  margin: 0 1em;
}
#menu .sub-menu li:last-child {
  border-width: 0;
}
#menu li, 
#toggle-menu, 
#menu a {
  position: relative;
  display: block;
  color: white;  background-color: #6B4C2C;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .125);
}
#toggle-menu {
  background: #6B4C2C;
}
#toggle-menu, 
#menu a {
  padding: 1em 1.5em;
}
#menu a {
  transition: all .125s ease-in-out;
  -webkit-transition: all .125s ease-in-out;
}
#menu a:hover {
  background-color: #6b5238;
  color: #fff;
}
#menu .sub-menu {
  display: none;
}
#menu input[type=&quot;checkbox&quot;]:checked + .sub-menu {
  display: block;
}
#menu .sub-menu a:hover {
  color: #fff;
}
#toggle-menu .drop-icon, 
#menu li label.drop-icon {
  position: absolute;
  right: 0;
  top: 0;
}
#menu label.drop-icon, #toggle-menu span.drop-icon {
  padding: 1em;
  font-size: 1em;
  text-align: center;
  background-color: #33333333;
  text-shadow: 0 0 0 transparent;
  color: rgba(255, 255, 255, .75);
}
@media only screen and (min-width: 1080px) {
  #menu .main-menu {
    display: block;
  }
  #toggle-menu, 
  #menu label.drop-icon {
    display: none;
  }
  #menu ul span.drop-icon {
    display: inline-block;
  }
  #menu li {
    float: left;
    border-width: 0 1px 0 0;
  }
  #menu .sub-menu li {
    float: none;
  }
  #menu .sub-menu {
    border-width: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width:189px;
    z-index: 9;
	font-size:12px;
  }
  #menu .sub-menu, 
  #menu input[type=&quot;checkbox&quot;]:checked + .sub-menu {
    display: none;
  }
  #menu .sub-menu li {
    border-width: 0 0 1px;
  }
  #menu .sub-menu .sub-menu {
    top: 0;
    left: 100%;
  }
 #menu .sub-menu .drop-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
  }
  #menu li:hover &gt; input[type=&quot;checkbox&quot;] + .sub-menu {
    display: block;
  }
}
<b:if cond='data:blog.pageType == &quot;item&quot;'>
.postcontent1 {width:45%;height:auto;min-height:150px;overflow:auto;position:-webkit-sticky;position:sticky;top:6.8%;float:right}
.postimg img{margin:0;padding:0 1.5% 1% 0;width:100%;max-width:55%!important;height:auto}.postcontent1 a:link{color:#009688;font-weight:500}.postcontent1 a:hover{color:#222}
@media screen and (max-width:560px){
.postcontent1{width:100%;position:initial!important}
.postcontent1 {padding-bottom:5%}
.postimg img{min-width:100%;height:auto:float:left;}
iframe {width:100%;max-height:255px}
}
  </b:if>
@media screen and (max-width:768px){
  #menu {position:initial!important}
}
<b:if cond='data:blog.pageType != &quot;index&quot;'>
@media screen and (max-width: 1028px){
  .postimg img {width:100%;}
}
@media screen and (max-width: 435px){
}
  </b:if>
